.headerStyle{
    color: #fff;
    text-align: center;
    padding: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;

    animation: gradient 12s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.linkButton{
	display: inline;
	font-size: 20px;
	padding: 3px;
	margin: 10px;
	border-radius: 10px;
}

.linkButton:hover{
	background-color: rgb(36, 35, 35);
	cursor: pointer;
}